@font-face {
    font-family: "ArialBlack";
    src: url(../fonts/ariblk.ttf);
}
h1, h2, h3 {
	font-family: "ArialBlack";
}
.myfont {
	color:white;
	font-family: "Arial";
	font-weight: normal;
}
.menu {
	background-color: #2c3e50;

}
.project_name {
	font-family: "ArialBlack";
	font-size: 20px;
	padding: 30px 0px;
}
.menu ul {
	font-family: "ArialBlack";
	font-size: 10px;
	font-weight: bold;
	padding: 40px 0px 30px 0px;
	list-style-type: none;
	text-align: center;
}
.star {
	margin-right:8px;
	padding-bottom: 10px;
}
.minus {
	margin-left:-8px;
}
.startboot_wrap {
	background-color: #18bc9c;
	padding: 50px 0;
}
.startboot_wrap h1 {
/*	font-weight: normal;*/
	font-family: "ArialBlack";
}
.startboot_wrap img {
	width: 200px;
	height:200px;
}
.startboot_wrap i {
	padding:5px 0 15px 0;
}
.startboot_wrap{
	text-align: center;
}
.portfolio {
	padding-bottom: 10px;
}
.portfolio_head {
	text-align: center;
	color: #333;
	padding: 50px 0 0 0;
}
.portfolio_head h2 {
	font-weight: bold;
}
.portfolio_head span {
	color: #2c3e50;
}
.portfolio_head i {
	color: #2c3e50;
}
.portfolio img {
	width:  360px;
	height: calc(360px/1.4);
	padding: 0 5px;
}
.portfolio img:last-child {
	text-align: right;
}
.about {
	margin-top: 70px;
	padding-bottom: 13px;
	background-color: #18bc9c;
}
.about_head {
	text-align: center;
	color: white;
	padding: 50px 0 0 0;
}
.about_head h2 {
	font-weight: bold;
}
.about_content p {
	padding: 0px 5px 15px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
}
.about button {
	background-color: #18bc9c;
	border-radius: 6px;
	border: 2px solid white;
	padding:6px 10px;
	text-decoration: none;
	outline: none;
	margin-top: 10px;
	margin-bottom: 50px;
}
.about span  {
	text-align: center;
}
.contact {
	background-color: white;
}
.contact_head {
	text-align: center;
	color: #333;
	padding: 50px 0 0 0;
}
.contact_head h2 {
	font-weight: bold;
}
.contact_head span {
	color: #2c3e50;
}
.contact_head i {
	color: #2c3e50;
}
.contact_content p {
	padding: 10px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
}
.contact button {
	background-color: #18bc9c;
	border-radius: 6px;
	border: 2px solid white;
	padding:6px 10px;
	text-decoration: none;
	outline: none;
}
.contact span  {
	text-align: center;
	padding-bottom: 40px;
}
input.myinput{
	display: block;
	font-size:16px;
	color: #999;
	padding: 10px 10px;
	border:none;
	border-top: 1px solid #eee;
	width: 100%;
}
.btn_send {
	background-color: #18bc9c;
	color:white;
	padding: 8px 10px;
	border-radius: 7px;
	border: none;
}
form div {
	padding: 20px 10px 10px 10px;
	margin:100px 0;
	border-top: 1px solid #eee;
}
.center_item{
	text-align: center;
}
.footer{
	background-color: #2c3e50;	
	padding: 70px 0;
}
.footer a {
	color:#18bc9c;
}
.footer h3 {
	font-size: 14pt;
	padding-bottom: 10px;
}
.copyright {
	background-color: #233140;
	padding: 30px 0;
}